---
layout: default
menu: litters
title: Планы
keywords:
description:
litters:
- name: A
  dob: Зима 2019-2020
  father-name: Camelot Family Stars
  father-photo: camelot/camelot-8m-1-1.jpg
  father-titles: 
  father-tests: HCM, SMA, PKDef - N/N
  father-link: https://www.pawpeds.com/db/?a=p&ids=3:1330284;2:1281022&g=4&p=mco&date=iso&o=ajgrep
  mother-name: De Poker Face Il Gaurdiano
  mother-photo: poker/poker-p.jpg
  mother-titles:
  mother-tests: HCM, SMA, PKDef - N/N
  mother-link: https://www.pawpeds.com/db/?a=p&ids=3:1304231;2:1448079&g=4&p=mco&date=iso&o=ajgrep
  link: 

---
{% include plans.html %}
{% include form.html %}
